matplotlib==3.5.2
Flask==2.1.2
Flask-Cors==3.0.9
tldextract==3.3.0
Flask-RESTful==0.3.9
pandas==1.5.2
regex==2023.08.04
python_whois==0.8.5
numpy==1.23.3
beautifulsoup4==4.11.1
scikit-learn==1.1.2
whois==0.7.4
